.FieldBtnGet {font-family : inherit;}
.FieldBtnGetAll {font-family : inherit;}
.FieldBtnCreate {font-family : inherit;}
.FieldBtnUpdate {font-family : inherit;}
.FieldBtnDelete {font-family : inherit;}
.FieldBtnDelete {font-family : inherit;}
.FieldFrmGet {font-family : inherit;}
.FieldFrmGetAll {font-family : inherit;}
.FieldFrmCreate {font-family : inherit;}
.FieldFrmUpdate {font-family : inherit;}
.FieldFrmDelete {font-family : inherit;}
.FieldMdlGet {font-family : inherit;}
.FieldMdlGetAll {font-family : inherit;}
.FieldMdlCreate {font-family : inherit;}
.FieldMdlUpdate {font-family : inherit;}
.FieldMdlDelete {font-family : inherit;}
.FieldBtnMdlGet {font-family : inherit;}
.FieldBtnMdlGetAll {font-family : inherit;}
.FieldBtnMdlCreate {font-family : inherit;}
.FieldBtnMdlUpdate {font-family : inherit;}
.FieldBtnMdlDelete {font-family : inherit;}
.LocationBtnGet {font-family : inherit;}
.LocationBtnGetAll {font-family : inherit;}
.LocationBtnCreate {font-family : inherit;}
.LocationBtnUpdate {font-family : inherit;}
.LocationBtnDelete {font-family : inherit;}
.LocationBtnDelete {font-family : inherit;}
.LocationFrmGet {font-family : inherit;}
.LocationFrmGetAll {font-family : inherit;}
.LocationFrmCreate {font-family : inherit;}
.LocationFrmUpdate {font-family : inherit;}
.LocationFrmDelete {font-family : inherit;}
.LocationMdlGet {font-family : inherit;}
.LocationMdlGetAll {font-family : inherit;}
.LocationMdlCreate {font-family : inherit;}
.LocationMdlUpdate {font-family : inherit;}
.LocationMdlDelete {font-family : inherit;}
.LocationBtnMdlGet {font-family : inherit;}
.LocationBtnMdlGetAll {font-family : inherit;}
.LocationBtnMdlCreate {font-family : inherit;}
.LocationBtnMdlUpdate {font-family : inherit;}
.LocationBtnMdlDelete {font-family : inherit;}
.MigrationBtnGet {font-family : inherit;}
.MigrationBtnGetAll {font-family : inherit;}
.MigrationBtnCreate {font-family : inherit;}
.MigrationBtnUpdate {font-family : inherit;}
.MigrationBtnDelete {font-family : inherit;}
.MigrationBtnDelete {font-family : inherit;}
.MigrationFrmGet {font-family : inherit;}
.MigrationFrmGetAll {font-family : inherit;}
.MigrationFrmCreate {font-family : inherit;}
.MigrationFrmUpdate {font-family : inherit;}
.MigrationFrmDelete {font-family : inherit;}
.MigrationMdlGet {font-family : inherit;}
.MigrationMdlGetAll {font-family : inherit;}
.MigrationMdlCreate {font-family : inherit;}
.MigrationMdlUpdate {font-family : inherit;}
.MigrationMdlDelete {font-family : inherit;}
.MigrationBtnMdlGet {font-family : inherit;}
.MigrationBtnMdlGetAll {font-family : inherit;}
.MigrationBtnMdlCreate {font-family : inherit;}
.MigrationBtnMdlUpdate {font-family : inherit;}
.MigrationBtnMdlDelete {font-family : inherit;}
.UserBtnGet {font-family : inherit;}
.UserBtnGetAll {font-family : inherit;}
.UserBtnCreate {font-family : inherit;}
.UserBtnUpdate {font-family : inherit;}
.UserBtnDelete {font-family : inherit;}
.UserBtnDelete {font-family : inherit;}
.UserFrmGet {font-family : inherit;}
.UserFrmGetAll {font-family : inherit;}
.UserFrmCreate {font-family : inherit;}
.UserFrmUpdate {font-family : inherit;}
.UserFrmDelete {font-family : inherit;}
.UserMdlGet {font-family : inherit;}
.UserMdlGetAll {font-family : inherit;}
.UserMdlCreate {font-family : inherit;}
.UserMdlUpdate {font-family : inherit;}
.UserMdlDelete {font-family : inherit;}
.UserBtnMdlGet {font-family : inherit;}
.UserBtnMdlGetAll {font-family : inherit;}
.UserBtnMdlCreate {font-family : inherit;}
.UserBtnMdlUpdate {font-family : inherit;}
.UserBtnMdlDelete {font-family : inherit;}
.BtnLogin { font-family : inherit; }
.BtnRegister { font-family : inherit; }
.BtnLostPassword { font-family : inherit; }
.BtnLogout { font-family : inherit; }
.FrmLogin { font-family : inherit; }
.FrmRegister { font-family : inherit; }
.FrmLostPassword { font-family : inherit; }
.FrmLogout { font-family : inherit; }
.MdlLogin { font-family : inherit; }
.MdlRegister { font-family : inherit; }
.MdlLostPassword { font-family : inherit; }
.MdlLogout { font-family : inherit; }
.BtnMdlLogin { font-family : inherit; }
.BtnMdlRegister { font-family : inherit; }
.BtnMdlLostPassword { font-family : inherit; }
.BtnMdlLogout { font-family : inherit; }

