@import url('../../font/fira-sans/fira-sans.min.css');
@import url('../../font/feather/feather.min.css');
@import url('../../font/fontawesome-full/css/all.min.css');
@import url('../../font/ionicons/ionicons.min.css');
// Font Family
$fontFamily : 'Fira Sans', sans-serif;
$regular    : 400;
$medium     : 500;
$bold       : 700;
